.input-group.range-wrapper {
    align-items: center;
}

.form-range.range {
    flex-grow: 2;
    width: auto;
}

.input-group > .form-control.range-text {
    width: 55px;
    flex: 0 0 auto;
}

.input-group.range-text-wrapper {
    width: auto;
    margin-left: 1rem !important;
    margin-bottom: 0 !important;
}

