.input-group.range-wrapper {
    align-items: center;
}

.form-range.range {
    flex-grow: 2;
    width: auto;
}

.input-group > .form-control.range-text {
    width: 55px;
    flex: 0 0 auto;
}

.input-group.range-text-wrapper {
    width: auto;
    margin-left: 1rem !important;
    margin-bottom: 0 !important;
    
}

.form-control.range-text::-webkit-outer-spin-button,
.form-control.range-text::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.form-control.range-text[type=number] {
    -moz-appearance:textfield; /* Firefox */
}