.inner {
    min-width: 200px;
    min-height: 200px;
    background-color: #d2d2d2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;



    
}


.outer {
    padding: 60px;
}